# Copy this file to ~/.config/cld/env and fill in local credentials.
# Keep ~/.config/cld/env out of git.

export CLD_ANT_ANTHROPIC_BASE_URL=''
export CLD_ANT_ANTHROPIC_AUTH_TOKEN=''

export CLD_MOONSHOT_ANTHROPIC_BASE_URL=''
export CLD_MOONSHOT_ANTHROPIC_AUTH_TOKEN=''

export CLD_ZENMUX_ANTHROPIC_BASE_URL=''
export CLD_ZENMUX_ANTHROPIC_AUTH_TOKEN=''
